---
layout: default
image: /images/fulls/01.jpg
---
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <section>
    <h2><a href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a></h2>
    <p>
   <span>{{ post.date | date: "%d %B %Y" }} {% assign m = page.date | date: "%-m" %}
{{ page.date | date: "%-d" }}
{% case m %}
  {% when '1' %}januari
  {% when '2' %}februari
  {% when '3' %}maart
  {% when '4' %}april
  {% when '5' %}mei
  {% when '6' %}juni
  {% when '7' %}juli
  {% when '8' %}augustus
  {% when '9' %}september
  {% when '10' %}oktober
  {% when '11' %}november
  {% when '12' %}december
{% endcase %}
{{ page.date | date: "%Y" }}
		  {% include readingtime.html %}{% endif %}</span>
    </p>
    <div>
      {{ post.excerpt }}
    </div>
  </section>
{% endfor %}

{% if paginator.total_pages > 1 %}
<!-- Pagination links -->
<section>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">Previous</a>
  {% endif %}
  <span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Next</a>
  {% endif %}
</section>
{% endif %}
